.photo{
  float:left;
  margin-right:30px;
}
div.menu{
  width:200px;
  height:600px;
  float:left;

}

#ingredent{
 border:1px solid lightcoral; 
 
}

th{
  border:1px solid lightcoral;
  backgraund-color:red;
  padding:5px;
  width:100px;
  text-align:center;
}
td{
  border:1px solid lightcoral;
  padding:5px;
  width:80px;
  text-align:right;
}


footer{
 clear:left;
}
