.photo{
  float:left;
  margin-right:30px;
}
div.menu{
  width:200px;
  height:600px;
  float:left;

}

#ingredent{
 border:1px solid lightcoral; 
}

th,td{
  border:1px solid lightcoral; 
}


footer{
 clear:left;
}
